@charset "utf-8";
/* CSS Document 
Use for:	纯数字、纯英文
Version:	1.0
Date:		2012/12/24
Author:		情封
*/

/*ks_alphanumeric*/
.ks_alphanumeric{width:80%;word-break:break-all;word-wrap:break-word;overflow:hidden;}











