@charset "utf-8";
/* CSS Document 
Use for:	表格模块
Version:	1.0
Date:		2012/11/01
Author:		情封
*/

/*ks_table*/
.ks_table table{ width:100%;font-size:12px;}
.ks_table caption{ text-align:center;font-size:16px;}
.ks_table thead th{ text-align:left;font-size:14px;}
.ks_table tbody td{ border-bottom:1px dotted #63230C;padding:3px 0;}
.ks_table tbody a{ color:#63230C;}
.ks_table tbody a:hover{ color:#CD4108;}
.ks_table .ks_t1{ width:60%}
.ks_table .ks_t2{ width:10%}
.ks_table .ks_t3{ width:15%}
.ks_table .ks_t4{ width:15%}
.ks_table .ks_field,.ks_table .ks_field a{ display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}












